#
# Copyright Debezium Authors
#
# Licensed under the Apache Software License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
#
name: Build Operator Sources

on:
  pull_request:
    branches:
      - main
      - 3.*
      - 4.*
    paths-ignore:
      - '*.md'
  push:
    branches:
      - main
      - 3.*
      - 4.*
    paths-ignore:
        - '*.md'

jobs:
  # Checks that all commits contain sign-offs
  check-signed-commits:
    name: Check signed commits
    runs-on: ubuntu-latest
    steps:
      - uses: debezium/dbz/.github/actions/check-dco@main
  build:
    needs: [ check-signed-commits ]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Debezium Operator
        uses: actions/checkout@v6
        with:
          path: operator

      - uses: ./operator/.github/actions/maven-cache

      - uses: ./operator/.github/actions/setup-java

      - uses: ./operator/.github/actions/build-operator
