name: Systemtests

on:
  pull_request:
    branches:
      - main
      - 3.*
      - 4.*
    paths-ignore:
      - '*.md'
  push:
    branches:
      - main
      - 3.*
      - 4.*
    paths-ignore:
      - '*.md'

jobs:
  run-systemtests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Debezium Operator
        uses: actions/checkout@v6
        with:
          path: operator

      - uses: ./operator/.github/actions/maven-cache

      - uses: ./operator/.github/actions/run-systemtests
